@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url('../fonts/#{$file_name}.woff') format('woff'),
            url('../fonts/#{$file_name}.woff2') format('woff2');
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

@import 'fonts';

$maxWidth: 1920;
@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 375;
    font-size: calc(
        #{$mobSize + px} + #{$addSize} * ((100vw - 375px) / #{$maxWidth})
    );
}

@mixin adaptiv-logo(
    $pcWidthSize,
    $mobWidthSize,
    $pcHeightSize,
    $mobHeightSize,
    $pcBGSize,
    $mobBGSize
) {
    $addWidthSize: $pcWidthSize - $mobWidthSize;
    $addHeightSize: $pcHeightSize - $mobHeightSize;
    $addBGSize: $pcBGSize - $mobBGSize;
    $maxWidth: $maxWidth - 375;
    width: calc(
        #{$mobWidthSize + px} + #{$addWidthSize} *
            ((100vw - 375px) / #{$maxWidth})
    );
    height: calc(
        #{$mobHeightSize + px} + #{$addHeightSize} *
            ((100vw - 375px) / #{$maxWidth})
    );
    background-size: calc(
        #{$mobBGSize + px} + #{$addBGSize} * ((100vw - 375px) / #{$maxWidth})
    );
}

:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 16px;
    background: #ebeef5;
    margin: 0;
}

header {
    background: #ebeef5;
    display: flex;
    justify-content: center;
    min-height: 91px;
    z-index: 3;
    .page-header {
        position: relative;
        display: flex;
        align-items: center;
        &__logo {
            display: block;
            background: url('../img/logo.svg') no-repeat;
            @include adaptiv-logo(154, 138, 50, 46, 154, 138);
            height: 50px;
        }

        nav,
        &__nav,
        &__contacts {
            display: flex;
        }

        &__nav,
        &__contacts {
            font-size: 14px;
            line-height: 17px;
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0;
            padding: 0 27px;
            list-style-type: none;
        }

        &__nav {
            .active {
                position: relative;
                font-weight: bold;

                &::after {
                    position: absolute;
                    content: '';
                    background-color: #397dff;
                    width: 48px;
                    height: 3px;
                    margin-left: auto;
                    margin-right: auto;
                    left: 0;
                    right: 0;
                    bottom: -36px;
                }

                a {
                    color: #397dff;
                }
            }
            li + li {
                margin-left: 33px;
            }

            li > a {
                color: rgba(43, 45, 58, 0.7);
            }
        }

        &__burger {
            position: relative;
            display: none;
            width: 24px;
            height: 24px;
            background: transparent;
            cursor: pointer;

            span {
                position: absolute;
                display: block;
                width: 24px;
                height: 3px;
                top: 10px;
                background-color: #2b2d3a;
                border-radius: 15%;

                &::before {
                    position: absolute;
                    left: 0;
                    top: -10px;
                    content: '';
                    width: 24px;
                    height: 3px;
                    border-radius: 15%;
                    background-color: #2b2d3a;
                    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
                }

                &::after {
                    position: absolute;
                    left: 0;
                    top: 10px;
                    content: '';
                    width: 24px;
                    height: 3px;
                    border-radius: 15%;
                    background-color: #2b2d3a;
                    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
                }

                &.active {
                    background-color: transparent;
                }

                &.active::before {
                    transform: rotate(45deg);
                    top: 0;
                    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
                }

                &.active::after {
                    transform: rotate(-45deg);
                    top: 0;
                    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
                }
            }
            @media (max-width: 1170px) {
                display: block;
            }
        }

        &__contacts {
            width: 310px;
            justify-content: space-between;
            padding-left: 0;
            .contact-email,
            .contact-callback {
                position: relative;
                padding-left: 30px;
                line-height: 16px;
                font-size: 13px;

                a {
                    color: #2b2d3a;
                    font-weight: bold;
                }

                span {
                    font-size: 11px;
                    line-height: 13px;
                    font-weight: normal;
                    color: #397dff;
                }
            }

            .contact-email {
                min-width: 155px;

                &::before {
                    position: absolute;
                    content: '';
                    background: url('../img/icons/mail_icon.svg') no-repeat;
                    width: 24px;
                    height: 24px;
                    left: 0;
                    top: -4px;
                }

                .contact-email--call-back {
                    display: none;
                }
            }

            .contact-callback {
                min-width: 134px;

                &::before {
                    position: absolute;
                    content: '';
                    background: url('../img/icons/phone_icon.svg') no-repeat;
                    width: 22px;
                    height: 22px;
                    left: 0;
                    top: 6px;
                }
            }

            .contact-brief {
                display: none;
            }

            @media (max-width: 1170px) {
                position: absolute;
                background: #d7def1;
                right: 0;
                top: 60px;
                padding-left: 10px;
                border-radius: 111px 7px 111px 111px;
                border: 0px solid #000000;
                height: 0;
                opacity: 0;
                overflow: hidden;
                &.opened {
                    height: 60px;
                    opacity: 1;
                    transition: all 0.4s ease-out;
                }
            }
        }
    }
    @media (max-width: 960px) {
        position: fixed;
        width: 100%;
        .page-header {
            width: 100%;
            padding: 0 15px;
            justify-content: space-between;
            nav {
                position: absolute;
                flex-direction: column;
                right: 13px;
                top: 60px;
                background: #ebeef5;
                border-radius: 8px;
                .page-header__nav.opened {
                    border: 1px solid rgba(43, 45, 58, 0.1);
                    border-bottom: 0;
                }
            }

            &__nav {
                flex-direction: column;
                align-items: flex-start;
                padding: 0 16px;
                height: 0;
                opacity: 0;
                overflow: hidden;
                .active {
                    &::after {
                        width: 100%;
                        height: 2px;
                        bottom: -1px;
                    }
                }

                li {
                    width: 100%;
                    border-bottom: 1px solid rgba(43, 45, 58, 0.1);
                    a {
                        display: block;
                        padding: 15px;
                        padding-left: 48px;
                    }
                }

                li + li {
                    margin: 0;
                }

                &.opened {
                    height: 100%;
                    opacity: 1;
                    transition: height 0.4s ease-out;
                }
            }

            &__contacts {
                position: unset;
                border-radius: unset;
                background: none;
            }

            @media (max-width: 400px) {
                nav {
                    width: 100%;
                    right: 0;
                    left: 0;
                    top: 90px;
                    border-radius: 0;

                    &.opened {
                        min-height: 100vh;
                    }

                    .page-header__nav.opened {
                        border: 0;
                        margin-bottom: 32px;
                    }
                }

                &__nav {
                    li {
                        position: relative;
                        &::before {
                            position: absolute;
                            content: '';
                            left: 0;
                            top: 20px;
                            width: 24px;
                            height: 24px;
                            background-repeat: no-repeat;
                        }
                        &.home::before {
                            background-image: url('../img/icons/home_icon.svg');
                        }
                        &.projects::before {
                            top: 24px;
                            background-image: url('../img/icons/projects_icon.svg');
                        }
                        &.ideas::before {
                            background-image: url('../img/icons/ideas_icon.svg');
                        }
                        &.about-company::before {
                            background-image: url('../img/icons/about-company_icon.svg');
                        }
                        &.completed-decisions::before {
                            background-image: url('../img/icons/completed-decisions_icon.svg');
                        }
                        &.contacts::before {
                            background-image: url('../img/icons/contacts_icon.svg');
                        }

                        a {
                            display: block;
                            padding: 24px 0;
                            padding-left: 48px;
                        }
                    }
                }

                &__contacts {
                    width: 100%;
                    align-items: center;
                    flex-direction: column-reverse;
                    align-items: flex-start;
                    &.opened {
                        height: 100%;
                        padding: 0 16px;
                        transition: all 0.1s
                            cubic-bezier(0.68, -0.55, 0.27, 1.55);
                    }

                    .contact-email {
                        position: relative;
                        .contact-email--call-back {
                            position: absolute;
                            display: inline;
                            line-height: 27px;
                            font-size: 22px;
                            font-weight: 500;
                            top: -36px;
                            left: 0;
                            color: #2b2d3a;
                        }

                        a {
                            color: #397dff;
                            font-size: 18px;
                            line-height: 22px;
                            font-weight: normal;
                        }
                    }

                    .contact-callback {
                        display: none;
                    }

                    .contact-brief {
                        display: block;
                        width: 100%;
                        margin-bottom: 52px;
                        .brief {
                            width: 100%;
                            padding: 13px 0;
                        }
                    }
                }
            }
        }
    }
}

.page-slider {
    display: flex;
    justify-content: flex-end;
    background-image: url('../img/page-slider__img-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 300ms ease-in-out;

    &__conference {
        width: 1535px;
        min-height: 624px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-style: normal;
        font-weight: 500;
        padding: 0 25px;
        .conference {
            &__description {
                color: #ffffff;
                max-width: 580px;
                transition: all 300ms cubic-bezier(0.65, 0.05, 0.36, 1);
                .under__h1 {
                    @include adaptiv-font(18, 14);
                    line-height: 22px;
                }

                h1 {
                    @include adaptiv-font(48, 28);
                    margin: 12px 0 24px -4px;
                }

                p {
                    @include adaptiv-font(16, 14);
                    line-height: 148%;
                    margin: 0;
                    margin-bottom: 54px;
                }
            }

            &__buttons {
                display: flex;
                justify-content: space-between;
                max-width: 396px;
            }

            &__slider {
                overflow: hidden;
                .slider {
                    position: relative;
                    width: 515px;
                    height: 365px;
                    margin: 0;
                    padding: 0;
                    list-style-type: none;

                    li {
                        position: absolute;
                        top: 0;
                        opacity: 0.3;
                        max-width: 282px;
                        margin-right: 72px;
                        transition: all 300ms cubic-bezier(0.65, 0.05, 0.36, 1);
                        transform: translate(200%, 100px);

                        &::before {
                            content: '';
                            position: absolute;
                            left: -38px;
                            width: 1px;
                            height: 205px;
                            background-color: rgba(255, 255, 255, 0.3);
                            @media (max-width: 570px) {
                                display: none;
                            }
                        }
                        &.active {
                            opacity: 1;
                            z-index: 2;
                            transform: translate(0px, 100px);
                        }

                        &.prev {
                            z-index: 2;
                            transform: translate(-125%, 100px);
                        }

                        &.next {
                            transform: translate(68%, 100px);
                            right: 0;
                        }
                    }

                    &__count {
                        font-weight: bold;
                        font-size: 64px;
                        line-height: 78px;
                        color: #397dff;
                    }

                    &__description {
                        font-size: 14px;
                        line-height: 160%;
                        color: rgba(255, 255, 255, 0.7);
                    }
                }
            }

            &__slider--buttons {
                display: flex;
                max-width: 110px;
                justify-content: space-between;
                margin-top: 25px;
            }
        }
    }

    @media (max-width: 1170px) {
        justify-content: center;
        &__conference {
            flex-direction: column;
            align-items: unset;
            margin-top: 40px;
            width: auto;
            min-height: auto;
            .conference {
                justify-content: center;
                &__slider {
                    .slider {
                        li {
                            transform: translate(230%, 100px);
                        }
                    }
                }
                &__slider--buttons {
                    margin-top: 0;
                    margin-bottom: 40px;
                }
            }
        }
    }

    @media (max-width: 960px) {
        &__conference {
            margin-top: 120px;
        }
    }

    @media (max-width: 570px) {
        &__conference {
            .conference {
                &__slider {
                    .slider {
                        width: 100%;
                        height: 355px;
                        margin-top: -75px;
                        li {
                            max-width: unset;
                            margin-right: 0;
                            &::before {
                                display: none;
                            }
                            &.next {
                                transform: translate(110%, 100px);
                            }
                        }

                        &__description {
                            font-size: 14px;
                            line-height: 160%;
                            color: rgba(255, 255, 255, 1);
                        }
                    }
                }
            }
        }
    }
}

.btn {
    display: block;
    @include adaptiv-font(16, 14);
    margin: 0;
    padding: 12px 20px;
    background: none;
    border: 0;
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
}

.callback {
    border: 1px solid #ffffff;
    background: transparent;
}

.brief {
    background: #397dff;
    padding: 0 26px 0 26px;
    box-shadow: 0px 6px 24px rgba(85, 104, 255, 0.12);
    border-radius: 8px;
}

.slider-button {
    display: block;
    margin: 0;
    background: none;
    border: 0;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background: none;
    color: #ffffff;
    cursor: pointer;

    &.button-left {
        background-image: url('../img/icons/button-left.svg');
        background-repeat: no-repeat;
        background-color: rgba(186, 209, 255, 0.2);
        background-position: 10px 7px;
    }
    &.button-right {
        background-image: url('../img/icons/button-right.svg');
        background-repeat: no-repeat;
        background-position: 13px 7px;
        background-color: #397dff;
    }
}

@media (max-width: 570px) {
    .btn {
        padding: 10px 13px;
    }
}
