@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url('../fonts/#{$file_name}.woff') format('woff'),
            url('../fonts/#{$file_name}.woff2') format('woff2');
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

@import 'fonts';

$maxWidth: 1920;
@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 375;
    font-size: calc(
        #{$mobSize + px} + #{$addSize} * ((100vw - 375px) / #{$maxWidth})
    );
}

:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 16px;
    background: #ebeef5;
    margin: 0;
}

header {
    background: #ebeef5;
    display: flex;
    justify-content: center;
    min-height: 91px;
    .page-header {
        position: relative;
        display: flex;
        align-items: center;
        &__logo {
            display: block;
            background: url('../img/logo.svg');
            width: 154px;
            height: 50px;
        }

        nav,
        &__nav,
        &__contacts {
            display: flex;
        }

        &__nav,
        &__contacts {
            font-size: 14px;
            line-height: 17px;
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0;
            padding: 0 27px;
            list-style-type: none;
        }

        &__nav {
            .active {
                position: relative;
                font-weight: bold;

                &::after {
                    position: absolute;
                    content: '';
                    background-color: #397dff;
                    width: 48px;
                    height: 3px;
                    margin-left: auto;
                    margin-right: auto;
                    left: 0;
                    right: 0;
                    bottom: -36px;
                }

                a {
                    color: #397dff;
                }
            }
            li + li {
                margin-left: 33px;
            }

            li > a {
                color: rgba(43, 45, 58, 0.7);
            }
        }

        &__burger {
            position: relative;
            display: none;
            width: 24px;
            height: 24px;
            background: url('../img/icons/menu.svg') no-repeat;
            background-size: 24px 24px;
            cursor: pointer;

            @media (max-width: 1170px) {
                display: block;
            }
        }

        &__contacts {
            width: 310px;
            justify-content: space-between;
            padding-left: 0;
            .contact-email,
            .contact-callback {
                position: relative;
                padding-left: 30px;
                line-height: 16px;
                font-size: 13px;

                a {
                    color: #2b2d3a;
                    font-weight: bold;
                }

                span {
                    font-size: 11px;
                    line-height: 13px;
                    font-weight: normal;
                    color: #397dff;
                }
            }

            .contact-email {
                min-width: 155px;

                &::before {
                    position: absolute;
                    content: '';
                    background: url('../img/icons/mail_icon.svg') no-repeat;
                    width: 24px;
                    height: 24px;
                    left: 0;
                    top: -4px;
                }
            }

            .contact-callback {
                min-width: 134px;

                &::before {
                    position: absolute;
                    content: '';
                    background: url('../img/icons/phone_icon.svg') no-repeat;
                    width: 22px;
                    height: 22px;
                    left: 0;
                    top: 6px;
                }
            }

            .contact-brief {
                display: none;
            }

            @media (max-width: 1170px) {
                position: absolute;
                background: #d7def1;
                right: 0;
                top: 60px;
                padding-left: 10px;
                border-radius: 111px 7px 111px 111px;
                border: 0px solid #000000;
                height: 0;
                opacity: 0;
                overflow: hidden;
                &.opened {
                    height: 60px;
                    opacity: 1;
                    transition: all 0.4s ease-out;
                }
            }
        }
    }
    @media (max-width: 960px) {
        position: fixed;
        width: 100%;
        .page-header {
            width: 100%;
            padding: 0 15px;
            justify-content: space-between;
            nav {
                position: absolute;
                flex-direction: column;
                right: 13px;
                top: 60px;
                background: #ebeef5;
                border-radius: 8px;
                .page-header__nav.opened {
                    border: 1px solid rgba(43, 45, 58, 0.1);
                    border-bottom: 0;
                }
            }

            &__nav {
                flex-direction: column;
                align-items: flex-start;
                padding: 0 16px;
                height: 0;
                opacity: 0;
                overflow: hidden;
                .active {
                    &::after {
                        width: 100%;
                        height: 2px;
                        bottom: -1px;
                    }
                }

                li {
                    width: 100%;
                    border-bottom: 1px solid rgba(43, 45, 58, 0.1);
                    a {
                        display: block;
                        padding: 15px;
                        padding-left: 48px;
                    }
                }

                li + li {
                    margin: 0;
                }

                &.opened {
                    height: 100%;
                    opacity: 1;
                    transition: height 0.4s ease-out;
                }
            }

            &__contacts {
                position: unset;
                border-radius: unset;
                background: none;
            }
        }
    }
}

.page-slider {
    display: flex;
    justify-content: flex-end;
    background-image: url('../img/page-slider__img-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 300ms ease-in-out;

    &__conference {
        width: 1535px;
        min-height: 624px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-style: normal;
        font-weight: 500;
        .conference {
            &__description {
                color: #ffffff;
                max-width: 580px;
                transition: all 300ms cubic-bezier(0.65, 0.05, 0.36, 1);
                .under__h1 {
                    @include adaptiv-font(18, 14);
                    line-height: 22px;
                }

                h1 {
                    @include adaptiv-font(52, 30);
                    margin: 12px 0 24px -4px;
                }

                p {
                    @include adaptiv-font(16, 14);
                    line-height: 148%;
                    margin: 0;
                    margin-bottom: 54px;
                }
            }

            &__buttons {
                display: flex;
                justify-content: space-between;
                max-width: 396px;
            }

            &__slider {
                position: relative;
                overflow: hidden;
                .slider {
                    position: relative;
                    width: 515px;
                    height: 365px;
                    margin: 0;
                    padding: 0;
                    list-style-type: none;

                    li {
                        position: absolute;
                        top: 0;
                        opacity: 0.3;
                        max-width: 282px;
                        margin-right: 72px;
                        transition: all 300ms cubic-bezier(0.65, 0.05, 0.36, 1);
                        transform: translate(200%, 100px);

                        &::before {
                            content: '';
                            position: absolute;
                            left: -38px;
                            width: 1px;
                            height: 205px;
                            background-color: rgba(255, 255, 255, 0.3);
                        }
                        &.active {
                            opacity: 1;
                            z-index: 99;
                            transform: translate(0px, 100px);
                        }

                        &.prev {
                            z-index: 2;
                            transform: translate(-125%, 100px);
                        }

                        &.next {
                            transform: translate(68%, 100px);
                            right: 0;
                        }
                    }

                    &__count {
                        font-weight: bold;
                        font-size: 64px;
                        line-height: 78px;
                        color: #397dff;
                    }

                    &__description {
                        font-size: 14px;
                        line-height: 160%;
                        color: rgba(255, 255, 255, 0.7);
                    }
                }
            }

            &__slider--buttons {
                display: flex;
                max-width: 105px;
                justify-content: space-between;
                margin-top: 55px;
            }
        }
    }
}

.btn {
    display: block;
    @include adaptiv-font(16, 14);
    margin: 0;
    padding: 12px 20px;
    background: none;
    border: 0;
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
}

.callback {
    border: 1px solid #ffffff;
    background: transparent;
}

.brief {
    background: #397dff;
    padding: 0 26px 0 26px;
    box-shadow: 0px 6px 24px rgba(85, 104, 255, 0.12);
    border-radius: 8px;
}

.slider-button {
    display: block;
    margin: 0;
    background: none;
    border: 0;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background: none;
    color: #ffffff;
    cursor: pointer;

    &.button-left {
        background-image: url('../img/icons/button-left.svg') none;
        background-color: rgba(186, 209, 255, 0.1);
    }
    &.button-right {
        background-color: #397dff;
    }
}
